<div class="container" style="margin-top: 120px; text-align: center;">
  <h2>About Us</h2>
  <div class="container" style="margin-top: 50px;">
    <p style="text-align: left;">
      Tootav is a jobs search engine that enables job seekers gain access to job openings from different sites on the web.
      We crawl multiple sites to bring you millions of job openings. We also utilize artificial intelligence techniques to
      personalize and make your job search experience as seamless as possible
    </p>
    <p style="margin-top: 20px; text-align: left;">
      We are currently operating from the United States.
    </p>
  </div>
</div>
