<div class="container" style="margin-top: 120px">
  <div class="center-pills">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a [ngClass]="{'active': terms}" [routerLink]="['/terms']" routerLinkActive="router-link-active"  class="nav-link" id="pills-terms" data-toggle="pill" href="#pills-terms" role="tab" aria-controls="pills-terms"
          aria-selected="true" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
          <span style="font-size: large;">Terms</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'active': privacy}" [routerLink]="['/privacy']" routerLinkActive="router-link-active"  class="nav-link" id="pills-privacy" data-toggle="pill" href="#pills-privacy" role="tab" aria-controls="pills-privacy"
          aria-selected="false" style="border-left: 1px solid #f8ebff; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
          <span style="font-size: large;">Privacy</span>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <div class="tab-content" id="pills-tabContent">
      <div [ngClass]="{'active': terms, 'show': terms}" class="tab-pane fade" id="pills-terms" role="tabpanel" aria-labelledby="pills-terms">
        <h2 style="text-align: center; margin-top: 10px;">Terms & Conditions</h2>
        <ul style="margin-top: 20px; list-style-type: disc">
          <li>
            By using our website or apps if applicable, you accept explicitly the terms and conditions laid out in this agreement.
            You may not use any of our services if you are not up to legal age of 13, or if you do not accept our terms and
            conditions. We reserve the right to change the Terms and Conditions at any time.
          </li>
          <li>
            You agree to defend, indemnify and hold harmless Tootav.com, its employees, shareholders, officers and directors from
            and against any claims, losses, suits, liabilities or expenses (including attorney's fees) arising out of or related to
            any breach of this Agreement or use of the Services.
          </li>
          <li>
            We do not guarantee that the service will work at all times. We would make all reasonable efforts to keep the service
            always on and working. However, we would not be liable for service outage or other acts out of our direct control that
            could limit the use of the service.
          </li>
          <li>
            Information posted on this website could come directly from us or third parties. Either parties do not provide any
            guarantees or warranties about the accuracy, completeness or timeliness of the information posted on this website
          </li>
          <li>
            We are a jobs search engine and as such we include links to other websites. We have no control or responsibility over
            the contents hosted by third party websites
          </li>
          <li>
            You agree that any disputes relating to the services provided by us will be arbitrated and not taken before a court or
            jury trial. Arbitration will be done under the laws of the United States
          </li>
        </ul>

        <h4 style="margin-top: 10px; text-align: center;">Advertiser Terms</h4>
        <p style="text-align: left; margin-top: 10px;">
          An advertiser must confirm and their authorization to act on behalf of, and keep to this Agreement, any third party for
          which advertising is generated.
        </p>
        <ul style="margin-top: 10px; list-style-type: square;">
          <li>
            You are solely responsible for all advertised content, and ensuring that contents are correct and up to date at any
            point in time.
          </li>
          <li>
            You shall indemnify and defend Tootav.com and its partners from any third party claim or liability (including
            reasonable legal fees) arising out of your use of our services
          </li>
          <li>
            We may modify or remove content at any time. You also consent that Tootav.com will display your content on its website,
            and might distribute your contents to third party partners.
          </li>
          <li>
            You shall not advertise anything illegal, pornographic or engage in any fraudulent business practice in any county,
            state or country where your listings and content is displayed.
          </li>
          <li>
            You grant Tootav.com and its partners the rights to display and distribute your content. You also guarantee that your
            content or website do not violate any applicable laws.
          </li>
          <li>
            Tootav.com will endeavour to keep to the terms of GDPR in personal data handling. Hence, you shall not include any
            personal data in content you provide to us. Any personal data collected from job seekers who either register on our
            site or submit a resume, will be processed according to the requirements of GDPR.
          </li>
          <li>
            Tootav.com will charge you based on the agreed price per click or other methods agreed upon. The charges are based
            solely on our click measurements. VAT will be also be charged as applicable. All outstanding invoices must be paid
            within two weeks of the invoice date. Advertiser is responsible for any extra fees incurred to collect overdue amounts.
          </li>
          <li>
            Any advertising may be cancelled by the advertiser with a minimum of one working day notice.
          </li>
          <li>
            We will continue to advertise all listings at the agreed prices and terms, unless we receive direct stoppage or change
            instructions at any period of the initial advertisement period.
          </li>
          <li>
            Tootav.com will not be liable for any damages or losses incurred by the advertiser due to interrupted service or
            errors, however caused.
          </li>
          <li>
            Tootav.com reserves the right to terminate this agreement at anytime upon the violation of this agreement, without
            notice. We also reserve the right to change our policies at any time, without notice
          </li>
        </ul>

        <h4 style="margin-top: 10px; text-align: center;">Sponsored Ad Terms</h4>
        <p style="text-align: left; margin-top: 10px;">
          For Sponsored Ads, an advertiser must confirm and agree that they are authorized to act on behalf of, and keep to this
          Agreement, any third party for which Ads are generated.
        </p>
        <ul style="margin-top: 10px; list-style-type: disc; margin-bottom: 50px;">
          <li>
            We do not accept Ads for illegal or pornographic content, Jobs requiring upfront fee payments, business dealings or
            marketing referrals.
          </li>
          <li>
            All agreed payments must be received before Ads go live on the site. Ads will be live for a period of thirty (30) days
            from the date of insertion. Charges are normally quoted without taxes. Applicable taxes (VAT) will be charged as
            appropriate.
          </li>
          <li>
            Ads can be removed by the sponsor at any time after insertion. No refunds will be made if removed within the 30 day
            period.
          </li>
          <li>
            Baring no further instructions, Ads will normally be removed from the website at the end of the initially negotiated
            period
          </li>
          <li>
            We shall make all efforts possible to place the Ads using the most effective method. We do not however, guarantee that
            any applications will be received for the Ads.
          </li>
          <li>
            Tootav.com adheres to GDPR guidelines in processing of any collected personal data from job seekers
          </li>
          <li>
            No refunds are payable on termination due to violation of this Agreement.
          </li>
        </ul>
      </div>

      <div [ngClass]="{'active': privacy, 'show': privacy}" class="tab-pane fade" id="pills-privacy" role="tabpanel" aria-labelledby="pills-privacy">
        <h2 style="text-align: center; margin-top: 10px;">Privacy Policy</h2>
        <p style="text-align: left; margin-top: 10px;">
          This policy details how we will collect, use and protect all personal information pertaining to users of our website,
          apps and other services. In this document, “We, Tootav and Tootav.com” refers to the same entity.
        </p>
        
        <h4 style="margin-top: 30px; text-align: left;">Personal Data</h4>
        <p style="text-align: left; margin-top: 10px;">
          We may collect certain personal data about you as you user our website and other services. Data collected may include
          your user account details (including email address) and other information you might provide to us in your resume.
          Details about the use of your account for job applications and job search history might also be stored.
          <br>
          We may also collect data about you when you log on to our services from third party websites or applications.
        </p>
        
        <h4 style="margin-top: 30px; text-align: left;">Personal Data Processing</h4>
        <p style="text-align: left; margin-top: 10px;">
          Personal data collected might be used for the some of the following under listed functions:
        </p>
        <div style="margin-left: 0%;">
          <ul style="list-style-type: disc; margin-top: 10px">
            <li>
              Focusing and personalization of job search process.
            </li>
            <li>
              Job email alerts delivery
            </li>
            <li>
              Contacting users about changes in any of our policies, Terms and Conditions or any other critical website services news
            </li>
            <li>
              Helping users carry out a job application process
            </li>
            <li>
              For users who explicitly opt-in, we might contact them about relevant job openings that might be a fit with their profiles and submitted resumes
            </li>
            <li>
              Managing user requests and potential complaints about data correction or requests for data access 
            </li>
            <li>
              We might use predictive methods and intelligent routines to gather and provide to consenting users insights about personal data 
            </li>
            <li>
              We may share personal data with some of our third party service providers that act as data processors. Such third party
              processors are obligated to comply with applicable data protection laws
            </li>
            <li>
              Direct job applications through Tootav.com may have user personal data sent to the Advertiser (employer or authorized
              agent). All Advertisers are obligated to comply with our Terms and Conditions and data protection laws
            </li>
          </ul>
        </div>

        <h3 style="margin-top: 50px; text-align: center">The legal basis for collecting personal data</h3>
        <h4 style="margin-top: 20px; text-align: left;">Legitimate Interest</h4>
        <p style="margin-top: 10px; text-align: left;">
          There are certain instances where Tootav will process personal data based on legitimate interest. Such interests may
          include when we need to market our products and services to users or information changes about our Terms and
          Conditions.
        </p>
        <h4 style="margin-top: 20px; text-align: left;">Consent</h4>
        <p style="margin-top: 10px; text-align: left;">
          Tootav.com relies on the user explicit consent to process personal Data in some cases. Processing will only be done
          when such consent is given. For example, we need your specific consent to receive job alerts via email. Such consent
          can be withdrawn by the user at any point as specified in our Privacy Policy in the relevant sections.
        </p>
        <h4 style="margin-top: 20px; text-align: left;">Performance of a contract</h4>
        <p style="margin-top: 10px; text-align: left;">
          We may process personal data based on certain necessary basis in which we are contractually obligated to use such data
          that have been agreed to with the user. For instance, we may match job seekers with employers and deliver email alerts
          from such employers or their agents
        </p>
        <h4 style="margin-top: 20px; text-align: left;">Compliance with a legal obligation</h4>
        <p style="margin-top: 10px; text-align: left;">
          We may process personal data based on certain legal obligations. For instance, certain localities require the retention
          of personal data over specified periods in line with local legal requirements
        </p>
        <h4 style="margin-top: 20px; text-align: left;">Compliance with a legal obligation</h4>
        <p style="margin-top: 10px; text-align: left;">
          We may process personal data based on certain legal obligations. For instance, certain localities require the retention
          of personal data over specified periods in line with local legal requirements
        </p>

        <h3 style="margin-top: 50px; text-align: left">Personal Data Rights and Storage</h3>
        <p style="margin-top: 10px; text-align: left;">
          Users can erase or delete their personal data at any time. Full accounts can also be deleted at any time by the user.
          In addition, We reserve the rights to delete user data that we have determined to be dormant or using any other
          criteria we might consider relevant to determine the status.
          <br>
          Users have the right to request a copy of the information held about them by Tootav. To request a copy of your user data, send us a request using the contact us form. 
          <br>
          Users have the right to object to or restrict processing of their Personal Data. To make a formal request to object to,
          or restrict the processing of your Personal Data, please use the contact us form to reach us.
          <br>
          We store all user data including Personal Data in a secure format with standard procedures in place to safeguard such
          information. We may use third party cloud service providers to store user data with all the necessary data security
          safeguards undertaken by such third parties. We would not be liable for any data breach that might occur due to our use
          of such third party cloud services
        </p>

        <h4 style="margin-top: 20px; text-align: left;">Cookies</h4>
        <p style="margin-top: 10px; text-align: left;">
          Cookies are text files that a website saves on a visitors computer to enable the website remember browsing and
          preference information about a particular visitor. Cookies do not contain information that can personally identify
          users.
          <br>
          We may use cookies for the following types of activities:
        </p>
        <div style="margin-left: 0%; margin-bottom: 10%;">
          <ul style="list-style-type: disc; margin-top: 10px">
           <li>
             To remember a returning visitor or user computer, this enables us to customize their site browsing experience.
           </li>
           <li>
            To track the performance of our website. We do so using statistical methods to track number of users and pages visited.
            This enables us to improve the user experience and our provided services.
           </li>
           <li>
            We may use cookies for re-marketing purposes with third parties that may show you personalized advertising. Such
            cookies do not contain personally identifiable information that can be used to identify particular users.
           </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
